 * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color:#1E90FF;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }

    p {
        font-size: 17px;
        color: white;
        margin-bottom: 20px;
        font-family: 'Courier New', Courier, monospace;
        text-align: 'center';
    }

    h1 {
        font-size: 50px;
        color: white;
        margin-bottom: 20px;
        font-family: 'Courier New', Courier, monospace;
    }

    #maze-container {
        border: 10px solid black;
        position: relative;
        display: flex;
        flex-direction: column;
        width: max-content;
        height: max-content;
        border-radius: 10px;
    }

    .row {
        display: flex;
    }

    .cell {
        width: 50px;
        height: 50px;
       /* border: 1px solid rgb(194, 194, 194); */
        background-color: rgb(255, 255, 255);
    }

    .wall {
        background-color: black;
         /* border: 1px solid black; */
    }

    #rat {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url('rat.png'); /* Add the path to your rat image */
    background-size: cover; /* Adjust this property to fit your image size */
    width: 50px; /* Adjust the width to match your image size */
    height: 50px; /* Adjust the height to match your image size */
    background-color: transparent; /* Set the background color to transparent */
}

#cheese {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('cheese.png'); /* Add the path to your cheese image */
    background-size: cover; /* Adjust this property to fit your image size */
    width: 50px; /* Adjust the width to match your image size */
    height: 50px; /* Adjust the height to match your image size */
    background-color: transparent; /* Set the background color to transparent */
}


    select {
        width: auto;
        min-width: 30px;
        border-radius: 20px;
        border: none;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        padding: 10px 20px;
    }
    @media (max-width: 768px) {
        .cell {
            width: 50px; /* Adjust the cell size for smaller screens */
            height: 50px;
        }
        #rat, #cheese {
            width: 50px; /* Adjust the rat and cheese size */
            height: 50px;
        }
    }